/* ===============
  Styles for Alerts
  ================== */  
.alert,
  position: fixed
  top: 0
  right: 0
  margin: 0 auto
  font-weight: 400
  color: #676767
  cursor: default
  background: #fafafa
  border-radius: 3px
  border: none
  transform: translateY(-40px)
  opacity: 0
  transition: all 0.3s ease-in-out
  max-width: 450px
  overflow-x: scroll
  width: 100%
  margin: 10px
  padding: 15px
  display: flex
  justify-content: space-between
  flex-direction: row
  align-content: center
  z-index: 1


  &.Success, &.success
    background: #dff0d8
    border: 1px solid #B8D9BA
    p
      color: #3c763d
  
  &.Error, &.error
    background: #f2dede
    border: 1px solid #D4B3AD
    p
      color: #a94442

  &.Warning, &.warning
    background: #fcf8e3
    border: 1px solid #E3DFAE
    p
      color: #8a6d3b

  &.Info, &.info
    background: #d9edf7
    border: 1px solid #9FB7DA
    p
      color: #31708f

  &.active
    transform: translateY(75px)
    opacity: 1
    transition: all 0.3s ease-in-out
    z-index: 100
    cursor: pointer

    p
      margin: 0
      font-weight: 500
      font-size: 16px
      display: flex
      align-items: center

    span
      position: relative
      display: flex
      align-items: center

      img
        position: relative 
        height: 32px

/* ===============
  Styles for Global Alerts
  ================== */ 


.global-alert
  background-color: $color__primary
  width: 100% 
  padding: 15px
  justify-content: space-between
  flex-direction: row
  align-content: center
  position: absolute
  display: none
  width: 100%
  background: #d9edf7
  border: 1px solid #9FB7DA
  text-align: center
  z-index: 99
  top: 130px

  &.active
    display: flex 
    margin-bottom: 50px

    span > img
      height: 16px

    a
      font-size: 16px
      color: #31708f
      opacity: 0.8
      width: auto
      margin: 0 auto

