/* ===============
  Styles for button component
  ================== */

button, .btn
  position: relative
  border: 1px solid transparent
  border-radius: 3px
  cursor: pointer
  display: inline-block
  font-family: $font__main
  font-size: 16px
  font-weight: 400
  line-height: 1.5
  margin-bottom: 0
  padding: 8px 24px
  text-align: center
  user-select: none
  vertical-align: middle
  white-space: nowrap
  text-decoration: none
  transition: all .08s ease

  &.btn-primary
    background-color: $color__blue
    border: 1px solid $color__blue
    color: white
