/* ===============
  Styles for Buttons
  ================== */

button
  padding: 10px
  color: #ffffff
  font-weight: 600
  min-width: 300px
  // max-width: 25%
  font-size: 14px
  border-radius: 2px
  border: none
  box-shadow: 0 3px 6px rgba(36, 129, 215, 0.05)
  position: relative
  cursor: pointer
  font-family: 'Montserrat', sans-serif
  line-height: 1.5
  text-align: center
  vertical-align: center
  white-space: nowrap
  text-decoration: none
  transition: all 0.8s ease

  &.button-primary
    background-color: $color__blue
    border: 1px solid $color__blue

  &.button-danger
    background-color: #ED4F32
    border: 1px solid #ED4F32

  &.button-short
    max-width: 150px
    min-width: 150px
    margin-top: 20px
    margin-left: 20px
    max-height: 40px

  &.button-disabled
    cursor: not-allowed

  &.button-hidden
    display: none

  &.button-inline, &.button-card
    height: 40px
    background-color: $color__blue
    border: 1px solid $color__blue
    position: relative
    max-width: 200px
    min-width: 150px