/* ===============
  Styles for Forms
  ================== */

form
  display: flex
  justify-content: flex-start
  flex-direction: column
  flex-wrap: wrap

  legend
    margin: 45px auto 10px
    max-width: 460px
    font-weight: 600
    font-size: 24px
    line-height: 32px
    letter-spacing: 0
    color: #24374e

  .form-group
    width: 100%
    display: flex
    flex-direction: column
    margin-bottom: 20px

    label
      color: #676767
      font-size: 12px
      padding: 0 0 2px 0
      display: block
      font-weight: 600
      text-transform: uppercase
      letter-spacing: 1px

    input, .css-1aya2g8, .css-2o5izw
      font-size: 14px
      font-weight: 400
      border: 1px solid #d6e0f1
      border-radius: 2px
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
      padding: 0 
      color: #4c5669
      background: white
      font-family: $font__main
      height: 50px
      text-indent: 10px
      margin-bottom: 10px
      width: 100%
      transition: opacity 0.4s ease-in-out

      &:focus, &:active, &:focus-within, .css-2o5izw, .css-bl6clz
        outline: none
        border: 1px solid $color__blue

      &:disabled
        opacity: 0.5
        transition: opacity 0.4s ease-in-out

/* ===============
  User Search Form Unique Styles
  ================== */

form.user-search-form
  display: flex
  justify-content: flex-start
  flex-direction: row
  flex-wrap: wrap 
  align-content: center
  min-width: 300px
  width: 100%

  .form-group
    display: flex
    flex-direction: column
    margin-bottom: 0
    margin-right: 1%

    input
      margin-bottom: 0

  button
    height: 50px
    margin-top: 0
    min-width: 175px
    max-width: 200px

.css-1aya2g8, .css-2o5izw
  height: auto

/* ===============
  Form Select Input Styles
  ================== */

.css-bl6clz
  outline: none
  border: 1px solid $color__blue !important

.css-1rtrksz
  padding: 0 !important
  color: #4c5669

.css-1492t68
  color: #4c5669 !important

.css-xwjg1b
  background-color: #21d1cc !important
  color: white
  margin: 5px !important 

.css-10odw4q
  color: white !important

/* ===============
  Form Checkbox Type
  ================== */

.custom-checkbox > input
  display: none

label.checkbox
  position: relative
  display: block
  padding: 5px !important
  border: 2px solid #f1f1f1
  border-radius: 2px
  color: #ccc
  font-size: 14px
  font-weight: 400
  max-width: 75px
  text-align: center
  cursor: pointer
  transition: all 0.3s ease-in-out

  &.xlarge
    max-width: 325px
    width: 100%
    height: 50px
    display: inline-flex
    justify-content: center
    align-items: center
  &.spacing
    margin-right: 25px

input[type="checkbox"]#proMembership:checked + label.checkbox, input[type="checkbox"]#freeTrial:checked + label.checkbox, input[type="checkbox"]#unionMember:checked + label.checkbox, input[type="checkbox"]#travel:checked + label.checkbox, input[type="checkbox"]#availability:checked + label.checkbox, input[type="checkbox"]#bilingual:checked + label.checkbox, input[type="checkbox"]#union:checked + label.checkbox
  border: 2px solid $color__blue
  background: $color__blue
  color: white
  transition: all 0.3s ease-in-out


/* ===============
  Profile Image Upload Form
  ================== */

.profile-image-upload
  input
    width: 100%
    margin-bottom: 20px
  
  a
    width: 100%
    color: $color__blue
    cursor: pointer


/* ===============
  General Form Styles
  ================== */

form
  display: flex
  flex-direction: row
  align-items: flex-start
  justify-content: space-between
  flex-wrap: wrap
  flex: 1

  .button-right
    display: flex
    justify-content: row
    justify-content: flex-end
    width: 100%

  .form-group
    width: 100%
    position: relative
    display: flex
    flex-direction: column
    margin-bottom: 40px
    display: block

    &.form-group--half
      width: 48.5%

    label
      text-transform: uppercase
      color: #14374c
      font-weight: 700
      font-size: 11px
      margin-bottom: 10px
      display: block
      white-space: nowrap
      letter-spacing: 1.25px

    input
      font-size: 16px
      line-height: 1.2
      font-weight: 400
      color: #16374b
      position: relative
      outline: 0
      border-radius: 2px
      border: 1px solid #c9ced1
      box-shadow: none
      width: 100%
      box-sizing: border-box
      // height: 60px
      padding: 0 15px
      
      &:focus, &:active, &:focus-within, .css-2o5izw, .css-bl6clz
        outline: none
        border: 1px solid $color__blue

    p.error-msg
      display: none

    &.field-error > label
      color: $color__errorRed

    &.field-error > input 
      z-index: 1000
      border-color: $color__errorRed
    
    &.field-error > p.error-msg
      display: block
      color: $color__errorRed
      padding-top: 4px
      font-size: 12px
      line-height: 1

  button.button-form
    line-height: 40px
    border-radius: 2px
    letter-spacing: 0.50px
    text-transform: uppercase
    margin: 0
    padding: 0 20px
    font-family: 'Gotham'
    max-width: 200px
    position: relative

form .form-group input, form .form-group .css-1aya2g8, form .form-group .css-2o5izw
  font-size: 14px
  padding: 0
  text-indent: 12px
  height: 40px
  margin: 0 
  line-height: 1.2
  position: relative
  outline: 0
  border-radius: 2px
  border: 1px solid #c9ced1
  box-shadow: none
  width: 100%
  box-sizing: border-box

form .form-group .css-1aya2g8, form .form-group .css-2o5izw
  height: auto

form.card-form-general, form.card-form-userName, form.card-form-email, form.card-form-profile
  &.card-form-inline
    display: grid
    grid-template-columns: 1fr 1fr 105px
    grid-column-gap: 20px

    button.button-form
      margin-top: 18px

  .form-group
    width: 100%
    margin: 0
    margin-bottom: 24px

    &.form-group--half
      width: 48.5%

    label
      color: $color__text
      margin-bottom: 2px

    input
      font-size: 12px
      padding: 0
      text-indent: 12px
      height: 40px
      margin: 0

  .button-wrapper
    display: flex
    justify-content: flex-end
    position: relative
    width: 100%

  button.button-form
    height: 40px
    line-height: 40px
    border-radius: 2px
    letter-spacing: 0.50px
    text-transform: uppercase
    margin: 0
    padding: 0 20px
    font-family: 'Gotham'
    max-width: 200px


// Avatar Image Styles

.card-form-avatar
  position: relative
  width: 100%
  margin-bottom: 12px

.card-form-avatar > label
  text-transform: uppercase
  color: $color__text
  font-weight: 700
  font-size: 11px
  margin-bottom: 2px
  display: block
  white-space: nowrap
  letter-spacing: 1.25px

input[type="file"] 
  opacity: 0
  position: absolute
  pointer-events: none

input[type="file"] + label
  height: 100px
  position: relative
  display: block
  max-width: 100px

  img
    position: relative
    height: 100%
    width: auto
    cursor: pointer
