/* ===============
  General Form Styles
  ================== */

form
  display: flex
  flex-direction: row
  align-items: flex-start
  justify-content: space-between
  flex-wrap: wrap
  flex: 1

  hr.form-break
    position: relative
    width: 100%
    margin: 0
    border: 0
    border-top: 1px solid #c9ced1
    margin: 5px 0 20px 0

  .button-right
    display: flex
    justify-content: row
    justify-content: flex-end
    width: 100%

.button-wrapper
  position: relative
  width: 100%
  display: flex
  justify-content: flex-start

  button:first-child
    position: relative
    margin-right: 25px

  &.align-left
    justify-content: flex-start



.form-group
  width: 100%
  position: relative
  display: flex
  flex-direction: column
  margin-bottom: 20px

  &.form-group--half
    width: 48.5%

  label
    font-weight: 400
    margin-bottom: 3px
    display: block
    white-space: nowrap
    color: #222
    font-size: 14px
    text-transform: none
    letter-spacing: 0

  input, form .form-group .css-1aya2g8, form .form-group .css-2o5izw, textarea
    font-size: 14px
    line-height: 1.2
    font-weight: 400
    color: #16374b
    position: relative
    outline: 0
    border-radius: 2px
    border: 1px solid #c9ced1
    box-shadow: none
    width: 100%
    box-sizing: border-box
    background: white
    padding: 0
    text-indent: 12px
    height: 40px 
    margin: 0 
    
    &:focus, &:active, &:focus-within, .css-2o5izw, .css-bl6clz
      outline: none
      border: 1px solid $color__blue

  textarea
    resize: none
    padding-top: 5px

  form .form-group .css-1aya2g8
    height: 40px !important

  p.error-msg
    display: none

  &.field-error > label
    color: $color__errorRed

  &.field-error > input, &.field-error > textarea  
    border-color: $color__errorRed

  &.field-error > .react-datepicker
    border: 1px solid #ea3267
  
  &.field-error > p.error-msg
    display: block
    color: $color__errorRed
    padding-top: 4px
    font-size: 12px
    line-height: 1

  p.form-input-text
    display: block
    padding-top: 4px
    font-size: 12px
    line-height: 1    


/* ===============
  Custom React Select Form Styles
  ================== */
.css-bl6clz
  outline: none
  border: 1px solid $color__blue !important

.css-1rtrksz
  padding: 0 !important
  // color: #4c5669
  height: 40px !important
  color: transaparent

// .css-1492t68
//   color: #4c5669 !important

.css-xwjg1b
  background-color: #21d1cc !important
  color: white
  margin: 5px !important 

.css-10odw4q
  color: white !important

.css-1aya2g8, .css-2o5izw, .css-1aya2g8, .css-2o5izw
  font-size: 14px
  background: white !important
  padding: 0
  text-indent: 12px
  height: 40px !important
  margin: 0 
  line-height: 1.2
  position: relative
  outline: 0
  border-radius: 2px
  border: 1px solid #c9ced1
  box-shadow: none
  width: 100%
  box-sizing: border-box

form .form-group .css-1aya2g8
  height: 40px !important

form .form-group.field-error  .css-1aya2g8, form .form-group.field-error  .css-2o5izw
  border-color: $color__errorRed

form .form-group .css-1aya2g8, form .form-group .css-2o5izw
  height: auto

/* ===============
  Form Checkbox Type
  ================== */

.custom-checkbox > input
  display: none

label.checkbox
  position: relative
  display: block
  padding: 5px !important
  border: 2px solid #f1f1f1
  border-radius: 2px
  color: #ccc
  font-size: 14px
  font-weight: 400
  max-width: 75px
  text-align: center
  cursor: pointer
  transition: all 0.3s ease-in-out

.form-group.billingCheckbox
  flex-direction: row
  justify-content: space-between
  flex-wrap: wrap

  label
    width: 100%

  .custom-checkbox
    width: 48.5%
    height: 50px

    .checkbox.xlarge
      max-width: 100%
      height: 100%
      position: relative
      display: flex
      justify-content: center
      align-items: center
      position: relative

input[type="checkbox"]#proMembership:checked + label.checkbox, input[type="checkbox"]#freeTrial:checked + label.checkbox, input[type="checkbox"]#unionMember:checked + label.checkbox, input[type="checkbox"]#travel:checked + label.checkbox, input[type="checkbox"]#availability:checked + label.checkbox, input[type="checkbox"]#bilingual:checked + label.checkbox, input[type="checkbox"]#union:checked + label.checkbox, input[type="checkbox"]#dateRangeSelector:checked + label.checkbox, input[type="checkbox"]#dateSelector:checked + label.checkbox
  border: 2px solid $color__blue
  background: $color__blue
  color: white
  transition: all 0.3s ease-in-out


.checkbox-reg-wrapper
  position: relative
  background: #f9f9f9
  padding: 10px
  cursor: pointer

  input
    margin: 0
    margin-right: 5px

  label
    font-size: 16px
    font-weight: normal
    margin-bottom: 0
    color: #222

  input, label
    display: inline-block
    cursor: pointer