/* ===============
  Styles for Job Overview Modal
  ================== */


.job-overview
  padding: 20px

  .job-overview-section
    position: relative
    margin-bottom: 20px 

    a.button
      max-width: 250px

    p > span
      font-size: 14px
      font-weight: 500
      color: #3d4852
      background: #edeeef
      border-radius: 3px
      margin-right: 8px
      margin-bottom: 5px
      padding: 6px 10px

    p > span.Accepted
      background: #dff0d8
      border: 1px solid #B8D9BA
      color: #3c763d
      font-size: 12px
      padding: 4px 6px

    p > span.Denied
      background: #f2dede
      border: 1px solid #D4B3AD
      color: #a94442
      font-size: 12px
      padding: 4px 6px