/* ===============
  Styles for job overview components
  ================== */

.card > .card-body.card-body-flex
  display: grid
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr)) 

  .card-item
    position: relative
    margin-bottom: 20px
    width: 100%

    
    h4
      text-transform: uppercase
      color: #14374c
      font-weight: bold
      font-size: 12px
      margin-bottom: 4px
      display: block
      white-space: nowrap
      letter-spacing: 1.25px

    p
      font-size: 16px
