/* ===============
  Styles for Modals
  ================== */
div#linktotop
  position: absolute
  top: 0

// .modal
//   display: none
//   align-items: center
//   justify-content: center
//   position: fixed
//   top: 0
//   right: 0
//   bottom: 0
//   left: 0
//   padding: 1rem
//   background-color: rgba(236,236,236, 0.9)
//   z-index: 9999
//   opacity: 0
//   visibility: hidden
//   overflow-x: hidden
//   overflow-y: auto
//   animation: fade .5s ease-in-out

  &.modal-open
    display: flex
    opacity: 1
    visibility: visible
    animation: fade .5s ease-in-out


  .modal-dialogue
    width: 650px 
    margin: 6rem auto
    position: absolute
    top: 0

    .modal-content
      position: relative
      background-color: #fff
      border-radius: 3px
      background-clip: padding-box
      outline: 0
      // border: 2px solid #fff
      border-radius: 3px
      box-shadow: 1px 4px 9px 2px rgba(23, 28, 33, 0.04)

      .modal-header
        padding: 1rem 1.5rem
        // padding-bottom: 0
        display: flex
        flex-direction: row
        justify-content: space-between
        align-content: center
        align-items: center
        border-bottom: 1px solid #E6E8EB

      .modal-header > h3
        margin: 0
        color: #444
        font-size: 1.7rem
        width: 90%

      .modal-header > a
        font-size: .9rem
        color: #cbcbcb
        width: 8%
        display: flex
        justify-content: flex-end
        border: 0
        padding: 0
        cursor: pointer
        height: 30px

      .modal-header > a > img
        height: 100%
        width: auto

      .modal-body
        position: relative
        padding: 2rem

@keyframes fade 
  0%
    display: none
    opacity: 0
  1%
    display: flex
    opacity: 0
  100%
    opacity: 1


// =========== Modals for User Profiles =========== //

.user-overview
  position: relative

  .user-overview-item
    position: relative
    margin-bottom: 10px

    label
      color: #676767
      font-size: 12px
      padding: 0 
      display: block
      font-weight: 600
      text-transform: uppercase
      letter-spacing: 1px

    button.btn-user-overview
      background-color: $color__blue
      border: 1px solid $color__blue

// =========== General Modal Styles =========== //

.modal
  display: none
  width: 47%
  box-sizing: border-box
  margin-left: auto
  margin-right: auto
  position: relative
  margin-top: 60px
  margin-bottom: 120px
  background-color: #fff
  padding: 40px 0
  border-radius: 2px

  .modal-header
    text-align: center
    padding-left: 17.37588652%
    padding-right: 17.37588652%

    img
      width: 40px

    h2
      letter-spacing: -.5px
      font-size: 39px
      line-height: 1.5
      font-weight: 700
      margin-top: 0
      margin-bottom: 10px
      color: #16373B

    p
      font-size: 18px
      line-height: 1.5
      font-weight: 400
      margin-top: 0
      color: #9fa4a6

  .modal-body
    padding-top: 30px
    padding-bottom: 30px
    padding-left: 17.37588652%
    padding-right: 17.37588652%

  .modal-footer
    position: relative
    text-align: center
    padding-left: 10.81560284%
    padding-right: 10.81560284%
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    flex: 1
    backface-visibility: hidden
    text-align: center

    a
      color: $color__blue
      cursor: pointer
      font-size: 13px
      font-weight: 500

      &:hover
        color: rgba(99,234,211,.9)