/* ===============
  Styles for Modals
  ================== */
@keyframes fade 
  0%
    display: none
    opacity: 0
  1%
    display: flex
    opacity: 0
  100%
    opacity: 1

// =========== General Modal Styles =========== //

.modalBg
  display: none
  align-items: center
  justify-content: center
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  padding: 1rem
  background-color: rgba(236,236,236, 0.9)
  z-index: 9999
  opacity: 0
  visibility: hidden
  overflow-x: hidden
  overflow-y: auto
  animation: fade .5s ease-in-out

  &.modal-open
    display: flex
    opacity: 1
    visibility: visible
    animation: fade .5s ease-in-out

  &.modal-user-profile 
    max-width: 650px

  .modal
    position: relative
    display: block
    padding: 0
    background: #fff
    border-radius: 3px
    width: 100%
    max-width: 850px
    box-shadow: 0 8px 6px 0 rgba(0,0,0,.075)
    z-index: 99999999
    background-clip: padding-box

    &.modal-loading
      max-width: 420px
      padding: 50px

      .modal-body
        text-align: center
        font-size: 20px

        .loading
          margin: 10px auto 25px

    &.modal-controlled
      overflow: auto
      max-height: 90vh

    .modal-header
      display: flex
      justify-content: space-between
      text-align: left
      padding: 20px 30px
      align-items: center
      border-bottom: 1px solid #EAEDF3
      z-index: 9999999

      a
        display: flex
        max-height: 42px

      img
        cursor: pointer
        width: 40px
        height: 40px

      h2
        position: relative
        font-weight: 500
        font-size: 18px
        color: #3E3F42
        line-height: 1.75

    .modal-body
      position: relative
      padding: 0
      z-index: 99999999

// =========== Modal Form Styles =========== //

.modal form.modal-form .form-group.date-picker-form-group
  min-width: fit-content

.modal-button-wrapper
  position: relative
  padding: 20px
  margin-top: 20px
  background: #fff
  z-index: 9
  border-top: 1px solid #EAEDF3
  width: 100%
  text-align: right 
  display: flex
  justify-content: flex-end

  button:first-child
    margin-right: 5px

.modal .modal-body p.modal-text-warning
  margin: 0 0 30px 0
  padding: 15px
  background: #fcf8e3
  border: 1px solid #E3DFAE
  border-radius: 3px
  color: #8a6d3b

// =========== Modal Component Styles =========== //

.modal-component
  position: relative
  padding: 30px

  a
    display: block
    margin-bottom: 25px

.modal-message-warning
  position: relative
  margin: 0 0 25px 0
  padding: 15px
  background: #fcf8e3
  border: 1px solid #E3DFAE
  border-radius: 3px
  color: #8a6d3b
  display: flex
  align-items: center

  span
    display: inline-flex
    justify-content: center
    align-items: center

  span > img
    position: relative
    height: 18px
    margin-right: 6px

// =========== User Profile Modal Styles =========== //
.modal-user .modal
  max-width: 720px
  margin: 0 auto

.modal-user .modal-header
  position: relative
  display: flex
  justify-content: space-between

  span.user-pill
    border-radius: 4px
    padding: 1px 8px
    font-size: 13px
    font-weight: 500
    &.available, &.accepted
      background: #d4edda
      color: #155724 
    &.unavailable
      color: #383d41
      background: #e2e3e5
    &.review
      background: #fcf8e3
      color: #8a6d3b
    &.favorited
      background: rgba(130, 94, 235, 0.15)
      color: rgb(130, 94, 235)
      margin-left: 10px

  .modal-header-left
    position: relative
    width: 68.5%
    display: flex
    justify-content: flex-start
    align-items: center

    img
      position: relative
      border-radius: 50%
      margin-right: 20px

    .modal-header-right
      position: relative
      display: flex
      align-items: center
      flex-direction: column
      justify-content: flex-start

    .modal-header-right > h2
      position: relative
      line-height: normal
      font-size: 27px
      margin-bottom: 2px
      font-weight: 400
      display: flex
      align-items: center

    .modal-header-right > span.user-pill
      margin-top: 5px

  .modal-close
    height: 35px
    width: 35px
    position: relative

    .close
      background: #f4f4f4
      border-radius: 50%
      height: 100%
      width: 100%
      position: relative
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer

      img
        margin: 0 auto
        height: 100%
        width: 100%

.modal-user .modal-body
  position: relative

  .modal-section
    position: relative
    width: 100%
    padding: 30px
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    border-bottom: 1px solid #f4f4f4

    img
      height: 18px
      margin-right: 5px

    p > span 
      display: inline-block
      font-size: 14px
      font-weight: 500
      color: #3d4852
      background: #f4f4f4
      border-radius: 3px
      margin-right: 6px
      margin-bottom: 5px
      padding: 2px 8px    

      &.available, &.accepted
        background: #d4edda
        color: #155724 

      &.review
        background: #fcf8e3
        color: #8a6d3b    

    .modal-cell-lg
      width: 100%
      position: relative
      display: flex
      justify-content: flex-start
      flex-direction: column
      margin-bottom: 25px

      label
        display: flex
        align-items: center
        margin-bottom: 8px
        text-transform: uppercase
        font-weight: 500
        font-size: 12px
        letter-spacing: 0.50px
        opacity: 0.8

      p
        width: 100%

      &.shared
        flex-direction: row
        flex-wrap: wrap

        label
          width: 100%

      .social-pill
        margin-bottom: 10px
        padding: 6px 14px
        color: #3d4852
        background: #edeeef
        font-size: 14px
        font-weight: 500
        border-radius: 3px
        margin-right: 10px
        display: inline-flex
        align-items: center
        width: auto

        a
          margin-bottom: 0
          color: #3d4852
          font-size: 14px
          font-weight: 500
          display: inline-flex
          align-items: center

        img
          max-height: 18px
          height: 100%
          margin-right: 6px
// ============ Media Queries =========== //
@media only screen and (max-width: 414px)
  .modal-user .modal-header .modal-header-left .modal-header-right > h2
    font-size: 18px
  .modal-user .modal-body .modal-section .modal-cell-lg .social-pill
    width: 100%
  .modal-component.modal-component-wide
    padding: 0