/* ===============
  Styles for Modals
  ================== */
div#linktotop
  position: absolute
  top: 0

.modal
  display: none
  align-items: center
  justify-content: center
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  padding: 1rem
  background-color: rgba(236,236,236, 0.9)
  z-index: 9999
  opacity: 0
  visibility: hidden
  overflow-x: hidden
  overflow-y: auto
  animation: fade .5s ease-in-out

  &.modal-open
    display: flex
    opacity: 1
    visibility: visible
    animation: fade .5s ease-in-out


  .modal-dialogue
    width: 650px 
    margin: 6rem auto
    position: absolute
    top: 0

    .modal-content
      position: relative
      background-color: #fff
      border-radius: 3px
      background-clip: padding-box
      outline: 0
      border: 2px solid #fff
      border-radius: 3px
      box-shadow: 1px 4px 9px 2px rgba(23, 28, 33, 0.04)

      .modal-header
        padding: 3rem 2rem
        padding-bottom: 0

      .modal-header > h3
        margin: 0
        color: #444
        font-size: 1.7rem

      .modal-header > a
        font-size: .9rem
        color: #cbcbcb
        position: absolute
        top: 1.5rem
        right: 1.5rem
        border: 0
        padding: 0
        cursor: pointer
        height: 30px

      .modal-header > a > img
        height: 100%
        width: auto

      .modal-body
        position: relative
        padding: 2rem

@keyframes fade 
  0%
    display: none
    opacity: 0
  1%
    display: flex
    opacity: 0
  100%
    opacity: 1