/* ===============
  Styles for navbar
  ================== */

.navbar
  position: fixed
  background: white
  border: none
  height: 60px
  top: 0
  right: 0
  left: 200px
  border-bottom: 1px solid #f1f1f1
  box-shadow: 1px 2px 4px 0 rgba(0,0,0,.03)
  padding: 0 3%
  display: flex
  flex-direction: row
  justify-content: space-between
  z-index: 100
  justify-content: flex-end

  &.navbar--fullWidth
    left: 0

  .navbar-logo
    display: flex
    justify-content: flex-start
    align-items: center
    width: 48%

    a
      font-size: 24px
      font-weight: bold
      color: $color__blue
      // max-width: 180px

      img
        width: 95%

  .navbar-nav
    display: flex
    justify-content: flex-end
    align-items: center


    ul
      padding: 0
      margin: 0
      list-style: none
      display: flex
      align-items: center

      li
        display: inline-block
        margin-right: 20px

        a
          color: #344154

        &:last-child
          margin-right: 0

