/* ===============
  Styles for navbar
  ================== */

.navbar
  position: fixed
  background: white
  //border-bottom: 1px solid #d7dbe0
  box-shadow: 1px 10px 32px 0 rgba(0,0,0,.04)
  border: none
  height: 60px
  top: 0
  width: 100%
  padding: 20px 3%
  display: flex
  flex-direction: row
  justify-content: space-between

  .navbar-logo
    display: flex
    justify-content: flex-start
    align-items: center
    width: 48%

    a
      font-size: 24px
      font-weight: bold
      color: $color__blue
      // max-width: 180px

      img
        width: 95%

  .navbar-nav
    display: flex
    justify-content: flex-end
    align-items: center
    width: 48%

    ul
      padding: 0
      margin: 0
      list-style: none
      display: flex
      align-items: center

      li
        display: inline-block
        margin-right: 20px

        a
          color: #344154

        &:last-child
          margin-right: 0

