/* ===============
  Styles for sidebar component
  ================== */
.app-container-sidebar
  position: fixed
  width: 250px
  top: 0
  bottom: 0
  left: 0

.sidebar
  background-color: #f6fafd
  border-right: 1px solid rgba(180,188,199,.32)
  height: 100%
  font-size: 16px
  width: 100%
  overflow: auto
  padding: 20px 0 0
  z-index: 1000000

  &.closed
    display: none

  .logo-wrapper
    position: relative
    cursor: pointer

    a
      background-image: url(../img/calltime-logo.png)
      background-size: contain
      background-repeat: no-repeat
      height: 40px
      display: block
      position: relative
      margin: 5px 20px 25px


  .sidebar-section
    // border-bottom: 1px solid rgba(180,188,199,.32)

    &.sidebar-section--bottom
      position: absolute
      bottom: 0
      border-top: 1px solid rgba(180,188,199,.32)
      width: 100%

    div
      padding: 20px

      h5
        margin: 0
        align-items: center
        display: flex

        img
          height: 19px
          margin-right: 8px
          width: auto

    div > h5 > a
      text-transform: uppercase
      color: #677694
      font-weight: 600
      font-size: 12px
      letter-spacing: 0.750px
      transition: padding 0s linear .4s
      cursor: pointer
      margin: 0