/* ===============
  Styles for sidebar component
  ================== */

.sidebar
  // border-right: 1px solid #dfdfdf
  box-shadow: 10px 0 5px -5px rgba(0,0,0,.04)
  position: fixed
  width: 210px
  height: 100%
  background: white
  margin: 0
  overflow-y: auto
  transition: all .5s ease
  z-index: 400
  display: none

  &.closed
    display: none

  ul.sidebar-nav
    list-style: none
    padding: 0
    padding-top: 120px
    margin: 0

    li.sidebar-nav-item
      position: relative
      display: block
      
      a
        border: none
        color: #576373
        font-weight: 400
        display: block
        line-height: 24px
        outline: none
        overflow: hidden
        padding: 20px 16px
        text-align: inherit
        white-space: nowrap

        img
          color: #344154
          float: left
          font-size: 22px
          position: relative
          top: 1px
          height: 24px
          width: auto
          margin: 0 16px 0 8px