/* ================
  Styles for Table components
  =============== */

.table
  position: relative
  display: block
  width: 100%
  background: #ffffff
  border-radius: 3px
  border: 1px solid #E6E8EB
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.075)
  max-width: 1250px

  .table-header
    padding: 16px 30px
    background: #f0f4f7
    display: grid
    grid-gap: 0
    border-bottom: 1px solid #e6e6e6

    &.table-rows-5
      grid-template-columns: 75px 1fr 1fr 1fr 100px

    &.table-rows-4
      grid-template-columns: 150px 1fr 1fr 1fr 200px

    .table-header-col
      font-size: 12px
      padding: 0 0 2px 0
      display: block
      font-weight: 600
      text-transform: uppercase
      letter-spacing: 1px
      margin: 0
      color: #677694
      display: grid

  .table-row
    padding: 16px 30px
    border-bottom: 1px solid rgba(180,188,199,.32)
    display: grid
    grid-gap: 0
    width: 100%

    &.table-rows-5
      grid-template-columns: 75px 1fr 1fr 1fr 100px
      border-bottom: 1px solid #e6e6e6

    &.table-rows-4
      grid-template-columns: 150px 1fr 1fr 1fr 200px
      border-bottom: 1px solid #e6e6e6
      transition: all 0.3s ease-in-out
      &:hover
        background: rgba(0, 0, 0, 0.035)
        transition: all 0.3s ease-in-out
        cursor: pointer

    .table-row-cell
      display: grid
      font-size: 16px
      color: #444444
      align-items: center

      img
        width: 50px
        height: 50px
        border-radius: 50%

      span > span.status.active
        border-radius: 4px
        padding: 4px 12px
        background: #dff0d8
        color: #3c763d 
        font-size: 14px
        font-weight: 500
      
      span.table-row-link
        color: $color__mainBlue
        font-size: 14px
        letter-spacing: 0.50px
        text-transform: uppercase
        font-weight: 500
        display: flex
        align-items: center
        justify-content: flex-end

        img
          max-height: 14px

  
// ========== Assigned Users List ========== //

.assignedUsers
  position: relative
  margin-bottom: 25px

  h4
    font-size: 18px
    font-weight: bold
    margin: 0
    margin-bottom: 10px

  ul.assignedUsers-list
    position: relative
    padding: 0
    margin: 0
    list-style: none

    li
      display: block
      margin-bottom: 5px

// ========== Table Filter Container ========== //

.table-filter
  display: grid
  grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) )
  grid-column-gap: 10px

  .table-filter-cell
    display: grid

.button-inline
  display: inline-block
  background: $color__mainBlue
  color: #fff