 /* ===============
   Styles for login, signup and password reset pages
   ================== */

.authPage
  background: rgb(239, 243, 245)
  width: 100%
  min-height: 100vh
  margin: 0
  position: relative
  display: flex
  justify-content: center
  flex-direction: column

.authContainer
  max-width: 1250px
  margin: 0 auto
  padding: 0 15px
  position: relative
  height: auto

  &.auth-container--signup
    margin: 2rem auto

// =========== Login View Styles =========== //

.auth-logo
  position: relative
  margin: 0 auto 15px
  max-width: 75px
  height: auto

.auth-card
  background: #ffffff
  border-radius: 3px
  position: relative
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.1)
  max-width: 450px
  margin: 0 auto
  height: auto
  display: flex
  flex-direction: column

  &.auth-card-columns
    flex-direction: row
    max-width: 1450px

  .auth-card-header
    position: relative
    width: 100%
    padding: 30px 30px 0 30px

    h3
      font-weight: bold
      font-size: 24px
      color: #14374c
      margin: 0
      margin-bottom: 5px

    p
      font-size: 16px
      line-height: 1.5
      opacity: 0.8
      margin: 0
      // max-width: 750px

  .auth-card-body
    position: relative
    width: 100%
    padding: 30px

    form > button.button-form
      width: 100%
      max-width: 100%
      background-color: $color__mainBlue 
      color: #ffffff

  .auth-card-footer
    position: relative
    width: 100%
    padding: 0 30px 30px 30px
    text-align: center

    a
      font-size: 14px

  form > .form-group > label
    color: #14374c

  form > button.button-form
    width: 100%
    max-width: 100%
    background-color: $color__mainBlue 
    color: #ffffff


.auth-external-link
  position: relative
  margin: 45px auto 0
  max-width: 450px
  text-align: center

  p
    font-size: 16px
    display: inline-block
    color: #999999

  a
    font-size: 16px

// =========== Signup View Styles =========== //

.auth-card.auth-card-large
  max-width: 1350px

  fieldset
    border: 0
    padding: 0

// =========== Quick Action View Styles =========== //

.auth-card-body

  .quickAction-container
    width: 100%
    margin: 0 auto 0
    background: #ffffff
    position: relative
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    .quickAction
      width: 31.5%
      display: flex
      flex-direction: column
      justify-content: center
      margin-top: 30px
      cursor: pointer

      &:hover
        .illustration img
          margin-top: -15px
          transition: all 0.4s ease-in-out
        .content h3
          color: $color__mainBlue
          transition: all 0.4s ease-in-out

      .content
        margin: 0 auto
        text-align: center
        position: relative

        h3
          font-size: 16px
          font-weight: 700
          line-height: 1.33333
          margin: 1em auto 0.5em
          padding: 0
          color: #404245
          transition: all 0.4s ease-in-out
        
        p
          font-size: 15px
          line-height: 1.4
          font-weight: 400
          margin: 0 auto
          color: #9fa4a6
          position: relative

      .illustration
        height: 200px
        width: 200px
        margin: 0 auto 5px
        position: relative

        img
          width: 100%
          height: 100%
          margin: 0 auto
          position: relative
          transition: all 0.4s ease-in-out