/* ===============
  Styles for login, signup and password reset pages
  ================== */

.page-background
  background: rgba(99,234,211,.9)
  width: 100%
  min-height: 100vh
  overflow: hidden
  margin: 0 auto
  position: relative

  