 /* ===============
   Styles for login, signup and password reset pages
   ================== */

.authPage
  background: #fcfdff
  // background: #ffffff
  width: 100%
  min-height: 100vh
  margin: 0
  position: relative
  display: flex
  justify-content: flex-start
  flex-direction: column

  .auth-logo
    position: relative
    margin: 15px 15px 15px 3%
    max-width: 65px
    height: auto

    img
      width: 100%
      position: relative

.auth-container
  max-width: 1250px
  margin: 4rem auto 0
  padding: 0 15px
  position: relative
  height: auto

  &.auth-container--signup
    margin: 0 auto 2rem

.auth-header
  position: relative
  width: 100%
  margin-bottom: 20px

  h1
    color: $color__black
    font-weight: 800
    font-size: 42px
    text-rendering: optimizeLegibility
    margin-bottom: 0

  p
    font-size: 16px
    display: inline-block
    color: #999999
    max-width: 450px

  a
    font-size: 16px
    max-width: 450px

// =========== Login View Styles =========== //

.auth-card
  background: #ffffff
  border-radius: 3px
  position: relative
  border: 1px solid $color__gray
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.08)
  max-width: 450px
  margin: 0 auto
  height: auto
  display: flex
  flex-direction: column

  &.auth-card-columns
    flex-direction: row
    max-width: 1450px

  .auth-card-body
    position: relative
    width: 100%
    padding: 30px

    p.error-text
      color: $color__errorRed
      text-align: center
      margin: 0 auto
      margin-bottom: 15px

  .auth-card-footer
    position: relative
    width: 100%
    padding: 0 30px 30px 30px
    text-align: center

    a
      font-size: 14px

  form > .form-group > label
    color: $color__black
    font-size: 14px
    text-transform: none
    letter-spacing: 0

  form > .form-group > input
    height: 45px
    border-radius: 3px

.auth-external-link
  position: relative
  margin: 45px auto 0
  max-width: 450px
  text-align: center

  p
    font-size: 16px
    display: inline-block
    color: #999999
    max-width: 450px
    

  a
    font-size: 16px
    max-width: 450px

// =========== Signup View Styles =========== //

.auth-card.auth-card-large
  max-width: 650px

  fieldset
    border: 0
    padding: 0