/* ===============
  Styles for Favorites components
  ================== */

.user-favorites
  position: relative
  display: flex
  justify-content: space-between

  .card.user-favorite-card
    position: relative
    width: 23.5%
    display: flex
    justify-content: space-between
    flex-direction: column

    .user
      position: relative
      display: flex
      justify-content: space-between
      align-items: center
      flex-wrap: wrap

      .user-information
        position: relative
        display: flex
        justify-content: space-between
        align-items: center
        
        .user-information-avatar
          position: relative
          width: 25%

          img
            width: 100%
            position: relative
            border-radius: 50%

        .user-information-details
          position: relative
          width: 73.5%
          margin-left: 10px

          h4
            font-weight: bold
            font-size: 16px

          p
            font-size: 14px

          p > span.availability
            border-radius: 4px
            padding: 2px 8px
            font-size: 14px
            font-weight: 500
            display: flex
            align-items: center
            width: auto
            &.available
              background: #d4edda
              color: #155724 
            &.unavailable
              color: #383d41
              background: #e2e3e5



  