/* ===============
  Styles for Creating a Job Forms
  ================== */

.create-job-form

  & > .form-group input
    max-width: 400px
    width: 100%

  & > .form-group textarea,
  & > .form-group .css-10nd86i
    max-width: 850px
    width: 100% 

  & > .form-group label
    opacity: 0.8
    color: #444
    margin-bottom: 6px

  & > .form-group label.checkbox
    max-width: 300px
    min-width: 200px
    height: 40px
    line-height: 28px
    margin-bottom: 0
    border: 1px solid #c9ced1

/* ===============
  Styles for Creating a Job Forms Navigation
  ================== */

.job-form-navigation
  width: 100%
  position: relative
  display: flex
  justify-content: space-between
  flex-wrap: wrap

  .buttons-left, .buttons-right
    position: relative
    width: 48.5%
    display: flex

  .buttons-left
    justify-content: flex-start

    button
      margin-right: 20px

  .buttons-right
    justify-content: flex-end
    
    button
      margin-left: 20px

// ========== Job Results ========== //

p.error-message
  color:  #ea3267
  margin-bottom: 15px
  text-align: center

.assignedUsers
  position: relative
  padding-bottom: 25px
  border-bottom: 1px solid #E6E8EB
  margin-bottom: 35px

  ul.assignedUsers-list
    padding: 0
    margin: 15px 0 0 0
    list-style: none

    li > p
      font-size: 16px
      margin-bottom: 10px

    li > p > span
      color: $color__mainBlue
  h4
    color: #444
    text-transform: uppercase
    letter-spacing: 0.150px
    font-weight: 500
    font-size: 14px

/* ================
  Styles for Assigned Users List
  =============== */
.assignedUsers
  position: relative

  ul.assignedUsers-list
    padding: 0
    margin: 0
    list-style: none

    div.assignedUsers-list-item
      margin-bottom: 15px
      position: relative

    label
      text-transform: uppercase
      color: #677694
      font-weight: 700
      font-size: 13px
      margin-bottom: 3px
      display: block
      white-space: nowrap
      letter-spacing: 1.25px  

    .assignedUsers-list-item-user
      position: relative
      display: flex
      align-items: center

      li.assignedUsers-list-pill
        position: relative
        // padding: 6px
        // background: rgba(28, 133, 232, 0.8)
        // color: white  
        font-size: 14px
        letter-spacing: 0.05px
        // font-weight: 500
        // border-radius: 3px
        // border-top-right-radius: 0
        // border-bottom-right-radius: 0
        display: inline-block

      span.assignedUsers-list-delete
        // background: #f2dede
        // padding: 6px     
        position: relative
        align-items: center
        display: flex
        margin-bottom: 0
        transition: all 0.3s ease
        cursor: pointer
        display: inline-block
        // height: 30px
        border-top-right-radius: 3px
        border-bottom-right-radius: 3px
        margin-left: 6px

        img
          height: 12px
          width: 12px
